.dropdown-toggle::after {
  display: inline-block !important;
  position: relative !important;
  right: auto !important;
  top: auto !important;
  transform: translateY(0px) !important;
}

.react-bootstrap-table table {
  table-layout: auto;
}
